# General libraries
matplotlib
numpy<2.0.0
scipy
scikit-learn<1.6
pyyaml
tqdm
numba
pandas
h5py
plotly
cebra

# the following packages should fit to you Graphics card and CUDA version
torch #==2.6.0+cu126
torchaudio #==2.6.0+cu126
torchvision #==0.21.0+cu126

# -f https://download.pytorch.org/whl/torch_stable.html